{% extends 'layout.html' %}
{% block content %}
<br>
<!-- Start of flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<!-- end of flash -->
<style>
    h2 {
        text-align: center;
    }
</style>
{% if client %}
{{ form.csrf_token() }}
<table class="container table table-info">
    <thead class="thead-dark">
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Client</th>
            <th scope="col">Address</th>
            <th scope="col">Miqdor</th>
            <th scope="col">Mark</th>
            <th scope="col">Umumiy narx</th>
            <th scope="col">Pul birligi</th>
            <th scope="col">To'landi</th>
            <th scope="col">Qoldiq</th>
            <th scope="col">Haydovchi</th>
            <th scope="col">Date</th>
            <th scope="col">Ruxsat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{ client }}</td>
            <td>{{ address }}</td>
            <td>{{ quantity }}</td>
            <td>{{ mark }}</td>
            <td>{{ price }}</td>
            <td>{{ currency }}</td>
            <td>{{ paid }}</td>
            <td>{{ price - paid }}</td>
            <td>{{ driver }}</td>
            <td>{{ date }}</td>
            <td>{{ approve }}</td>
        </tr>
    </tbody>
</table>

{% else %}
<div class="">
    <form class="container-fluid" method="post">
        <div class="row">
            <div class="col">
                <b>{{ form.client.label }}</b>
                {{ form.client(class="form-control", placeholder="Full name") }}
            </div>
            <div class="col">
                <b>{{ form.address.label }}</b>
                {{ form.address(class="form-control", placeholder="Delivery Address") }}
            </div>
            <div class="col">
                <b>{{ form.mark.label }}</b>
                {{ form.mark(class="form-control", placeholder="Mark of material") }}
            </div>
            <div class="col">
                <b>{{ form.quantity.label }}</b>
                {{ form.quantity(class="form-control", placeholder="Quantity of material") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>{{ form.price.label }}</b>
                {{ form.price(class="form-control", placeholder="UZS/USD/EU/RUB") }}
            </div>
            <div class="col">
                <b>{{ form.currency.label }}</b>
                <b>{{ form.currency(class="form-control") }}</b>
            </div>
            <div class="col">
                <b>{{ form.paid.label }}</b>
                <b>{{ form.paid(class="form-control") }}</b>
            </div>
            <div class="col">
                <b>{{ form.driver.label }}</b>
                <b>{{ form.driver(class="form-control") }}</b>
            </div>
            <div class="col">
                <b>{{ form.date.label }}</b>
                {{ form.date(class="form-control", placeholder="Quantity of material") }}
            </div>
            <div class="container"><b>{{ form.approve.label }}</b>
                {{ form.approve(class="form-control", placeholder="Quantity of material") }}
            </div>
        </div><br>
        <div align="center">{{ form.submit(class="btn btn-success") }}</div>
    </form>
</div>
{% endif %}
{% endblock %}