{% extends 'layout.html' %}
{% block content %}
<br>
<form method="POST" action="" novalidate>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {{ form.csrf_token() }}
    {{ form.client.label }}
    {{ form.client() }} <br>
    {{ form.mark.label }}
    {{ form.mark() }} <br>
    {{ form.quantity.label }}
    {{ form.quantity() }} <br>
    {{ form.price.label }}
    {{ form.price() }} | {{ form.paid.label }} {{ form.paid() }}<br>
    {{ form.date.label }}
    {{ form.date() }}
    <br><br>
    {{ form.submit(class="btn btn-outline-success") }}
</form>
{% endblock %}