{% extends 'layout.html' %}
{% block content %}
<div class="text-center" style="position: relative; top: 5%;">
    <img src="static/images/uzbaba.jpg" class="rounded-5 mx-auto d-block" width="222" height="222">
</div>
<br><br>
<h1 style="color:rgb(5, 48, 76); font-family:monospace;">
    Automation by technology
</h1>
<div class="container-fluid" style="position: fixed; bottom: 7%; right: -47.5%;">
    <a href="https://t.me/abasomiddinov"><img src="static/images/telegram.png" width="20" height="20">
    </a>
    <a href="https://www.youtube.com/channel/UCYEq46DwMt5ARyGmlEX6VFQ"><img src="static/images/YouTube.png" width="20"
            height="20">
    </a>
    <a href="https://www.instagram.com/b_asomiddinov/"><img src="static/images/instagram.png" width="20" height="20">
    </a><br>
    <b><img src="static/images/dev.png" width="50" height="50"></b>
</div>
{% endblock %}
<style>
    .div {
        padding-bottom: 0%;
    }
</style>