<title>ℹ</title>
{% extends 'layout.html' %}
{% block content %} <br>
<style>
    h2 {
        text-overflow: ellipsis;
    }

    td {
        border: 1px solid rgb(5, 70, 70);
    }

    tr {
        border: 1px solid rgb(5, 70, 70);
    }

    td {
        font-size: small;
        font-weight: bold;
    }
</style>
<div class="container-fluid">
    <table class="table table-dark text-center">
        <thead class="thead-dark">
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">client_id</th>
                <th scope="col">Address</th>
                <th scope="col">Quantity</th>
                <th scope="col">Mark</th>
                <th scope="col">Currency</th>
                <th scope="col" style="color: aqua;">Price</th>
                <th scope="col" style="color: yellow;">Paid</th>
                <th scope="col" style="color: red;">Debt</th>
                <th scope="col">Driver</th>
                <th scope="col">Date</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        {% for i in reg %}
        <tbody>
            <tr>
                <th scope="row">{{ i.id }}</th>
                <td><a href="{{ url_for('info_id', client_id=i.client_id) }}">{{ i.client }}</a></td>
                <th scope="row"><a href="{{ url_for('info_id', client_id=i.client_id) }}">{{ i.client_id }}</a></th>
                <td>{{ i.address }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.mark }}</td>
                <td>{{ i.currency }}</td>
                <td style="color: aqua;">{{ i.price }}</td>
                <td style="color: yellow;">{{ i.paid }}</td>
                <td style="color: red;">{{ i.paid - i.price }}</td>
                <td>{{ i.driver }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.user_fullname }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<b style="text-align: center;">{{ user_fullname }}</b>
{% endblock %}