<title>ℹ</title>
{% extends 'layout.html' %}
{% block content %} <br>
<style>
    h2 {
        text-overflow: ellipsis;
    }

    td {
        border: 1px solid rgb(5, 70, 70);
    }

    tr {
        border: 1px solid rgb(5, 70, 70);
    }

    td {
        font-size: small;
        font-weight: bold;
    }
</style>
<div class="container-fluid text-center"></div>
<div class="container-fluid">
    <table class="table table-dark text-center">
        <thead class="thead-dark">
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">client_id</th>
                <th scope="col">Address</th>
                <th scope="col">Quantity</th>
                <th scope="col">Mark</th>
                <th scope="col">Currency</th>
                <th scope="col" style="color: aqua;">Price:<b> {{ balance_price }}</b></th>
                <th scope="col" style="color: yellow;">Paid:<b> {{ balance_price }}</b></th>
                {% if balance >= 0 %}
                <th scope="col" style="color: rgb(50, 190, 100);"><b>Balance: {{ balance }}</b></th>
                {% else %}
                <th scope="col" style="color: red;"><b>Balance: {{ balance }}</b></th>
                {% endif %}
                <th scope="col">Driver</th>
                <th scope="col">Date</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        {% for i in reg %}
        <tbody>
            <tr>
                <th scope="row">{{ i.id }}</th>
                <td><a href="{{ url_for('info_id', client=i.client, client_id=i.client_id) }}">{{ i.client }}</a>
                </td>
                <th scope="row"><a href="{{ url_for('info_id', client=i.client, client_id=i.client_id) }}">
                        {{ i.client_id }}</a>
                </th>
                <td>{{ i.address }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.mark }}</td>
                <td>{{ i.currency }}</td>
                <td style="color: aqua;">{{ i.price }}</td>
                <td style="color: yellow;">{{ i.paid }}</td>
                {% if (i.paid - i.price) < 0 %} <td style="color: red;">{{ i.paid - i.price }}</td>
                    {% else %}
                    <td style="color: rgb(50, 190, 100);">{{ i.paid - i.price }}</td>{% endif %}
                    <td>{{ i.driver }}</td>
                    <td>{{ i.date }}</td>
                    <td>{{ i.user_fullname }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<b style="text-align: center;">{{ user_fullname }}</b>
{% endblock %}