{% extends 'layout.html' %}
{% block content %}
<h3 class="container-fluid"><img src="\static\images\evrotbm.png" width="150" height="50"></h3>
<br>
<div class="text-center"><b>№ {{ exact.id }}</b></div>
<div class="text-center">
    <table class="table text-center container-fluid">
        <thead class="table">
            <tr class="table-bordered">
                <th scope="col">#</th>
                <th scope="col">Клиент</th>
                <th scope="col">Адрес</th>
                <th scope="col">Дата</th>
                <th scope="col">Количество</th>
                <th scope="col">Материал</th>
                <!-- <th scope="col">Currency</th> -->
                <!-- <th scope="col" style="color: rgb(2, 22, 22);">Стоимость</th>
                <th scope="col" style="color: rgb(2, 22, 22)">Оплачено</th>
                <th scope="col" style="color: rgb(2, 22, 22)">Баланс</th> -->
                <!-- <th scope="col">Driver</th> -->
                <!-- <th scope="col">User</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ exact.client_id }}</th>
                <td>{{ exact.client }}</td>
                <td>{{ exact.address }}</td>
                <td>{{ exact.date }}</td>
                <td>{{ exact.quantity }}</td>
                <td>{{ exact.mark }}</td>
                <!-- <td>{{ exact.currency }}</td> -->
                <!-- <td style="color: rgb(2, 22, 22)">{{ exact.price }}</td>
                <td style="color: rgb(2, 22, 22)">{{ exact.paid }}</td>
                <td style="color: rgb(2, 22, 22)">{{ exact.paid - exact.price }}</td> -->
                <!-- <td>{{ exact.driver }}</td-->
                <!-- <td>{{ exact.user_fullname }}</td> -->
            </tr>
        </tbody>
    </table>
</div>
<h3>Сдал: _______________</h3>
<h4>Охранник: _______________ Дата: _______________</h4><br>
<h4>Клиент: ______________________________</h4>
<br><br><br><br>
<h3 class="container-fluid"><img src="\static\images\evrotbm.png" width="150" height="50"></h3>
<br>
<div class="text-center"><b>№ {{ exact.id }}</b></div>
<div class="text-center">
    <table class="table text-center container-fluid">
        <thead class="table">
            <tr class="table-bordered">
                <th scope="col">#</th>
                <th scope="col">Клиент</th>
                <th scope="col">Адрес</th>
                <th scope="col">Дата</th>
                <th scope="col">Количество</th>
                <th scope="col">Материал</th>
                <!-- <th scope="col">Currency</th> -->
                <!-- <th scope="col" style="color: rgb(2, 22, 22);">Стоимость</th>
                <th scope="col" style="color: rgb(2, 22, 22)">Оплачено</th>
                <th scope="col" style="color: rgb(2, 22, 22)">Баланс</th> -->
                <!-- <th scope="col">Driver</th> -->
                <!-- <th scope="col">User</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ exact.client_id }}</th>
                <td>{{ exact.client }}</td>
                <td>{{ exact.address }}</td>
                <td>{{ exact.date }}</td>
                <td>{{ exact.quantity }}</td>
                <td>{{ exact.mark }}</td>
                <!-- <td>{{ exact.currency }}</td> -->
                <!-- <td style="color: rgb(2, 22, 22)">{{ exact.price }}</td>
                <td style="color: rgb(2, 22, 22)">{{ exact.paid }}</td>
                <td style="color: rgb(2, 22, 22)">{{ exact.paid - exact.price }}</td> -->
                <!-- <td>{{ exact.driver }}</td-->
                <!-- <td>{{ exact.user_fullname }}</td> -->
            </tr>
        </tbody>
    </table>
</div>
<h3>Сдал: _______________</h3>
<h4>Охранник: _______________ Дата: _______________</h4><br>
<h4>Клиент: ______________________________</h4>
<style>
    .navbar {
        display: none;
    }

    h4 {
        text-align: right;
    }

    h2 {
        text-overflow: ellipsis;
    }

    td {
        border: 2px solid rgb(5, 70, 70);
    }

    tr {
        border: 2px solid rgb(5, 70, 70);
    }

    th {
        border: 2px solid rgb(5, 70, 70);
    }

    td {
        font-size: large;
        font-weight: bold;
    }
</style>
{% endblock %}