{% extends 'layout.html' %}
{% block content %}
<br>
<div class="text-center">
    <table class="table table-dark text-center container-fluid">
        <thead class="thead-dark">
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">Address</th>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Mark</th>
                <th scope="col">Currency</th>
                <th scope="col" style="color: aqua;">Price</th>
                <th scope="col" style="color: yellow;">Paid</th>
                <th scope="col" style="color: red;">Debt</th>
                <!-- <th scope="col">Driver</th> -->
                <!-- <th scope="col">User</th> -->
            </tr>
        </thead>
        {% for exact in exacts %}
        <tbody>
            <tr>
                <th scope="row">{{ exact.client_id }}</th>
                <td>{{ exact.client }}</td>
                <td>{{ exact.address }}</td>
                <td>{{ exact.date }}</td>
                <td>{{ exact.quantity }}</td>
                <td>{{ exact.mark }}</td>
                <td>{{ exact.currency }}</td>
                <td style="color: aqua;">{{ exact.price }}</td>
                <td style="color: yellow;">{{ exact.paid }}</td>
                <td style="color: red;">{{ exact.paid - exact.price }}</td>
                <!-- <td>{{ exacts.driver }}</td-->
                <!-- <td>{{ exacts.user_fullname }}</td> -->
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<style>
    h2 {
        text-overflow: ellipsis;
    }

    td {
        border: 1px solid rgb(5, 70, 70);
    }

    tr {
        border: 1px solid rgb(5, 70, 70);
    }

    td {
        font-size: large;
        font-weight: bold;
    }
</style>
{% endblock %}