<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>QRGen {{ title }}</title>
    {% else %}
    <title>QRGen</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<style>
    h1 {
        text-align: center;
    }

    body {
        background-color: rgb(54, 89, 107);
    }

    p {
        text-align: center;
    }
</style>

<body>
    {% if user.is_authenticated %}
    <nav class="navbar bg-success" class="container-fluid justify-content-center">
        <a href="/index">
            <button class="btn btn-sm btn-success" type="button"><b>Home</b></button>
        </a>
        <a href="/generator">
            <button class="btn btn-sm btn-success" type="button"><b>QRGenerator</b></button>
        </a>
        <a href="/action">
            <button class="btn btn-sm btn-success" type="button"><b>Action</b></button>
        </a>
        <a href="/sign_up">
            <button class="btn btn-sm btn-success" type="button"><b>Sign Up</b></button>
        </a>
        <a href="/logout">
            <button class="btn btn-sm btn-success" type="button"><b>Logout</b></button>
        </a>
    </nav>
    <p><b>{{ user.id }} | {{ user.fullname }} | {{ user.email }}</b></p>
    <style>
        p {
            text-align: center;
        }
    </style>
    {% else %}
    <nav class="navbar bg-success" class="container-fluid justify-content-center">
        <a href="/index">
            <button class="btn btn-sm btn-success" type="button"><b>Home</b></button>
        </a>
        <a href="/info">
            <button class="btn btn-sm btn-success" type="button"><b>Info</b></button>
        </a>
        <a href="/login">
            <button class="btn btn-sm btn-success" type="button"><b>Login</b></button>
        </a>
    </nav>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
</body>
<!-- Start of flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category=="error" %}
<div class="alert alert-warning alert-dismissible fade show container" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show container" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<!-- end of flash -->

{% block content %}
{% endblock %}